# --- NLP & génération ---
transformers==4.52.4
torch==2.2.2
spacy==3.8.7
# fr_core_news_md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.8.0/fr_core_news_md-3.8.0-py3-none-any_


# --- Web app Django ---
django==5.2.3
dotenv==0.9.9
django-tailwind==4.0.1
django-browser-reload==1.18.0

# --- Appels HTTP pour communication entre app/API ---
python-dotenv==1.1.0
requests==2.32.4

# --- FastAPI pour API du modèle ---
fastapi==0.115.13
uvicorn==0.34.3

# --- API ElevenLabs (TTS) ---
elevenlabs==2.3.0


# --- Outils Dev ---
pytest==8.4.1
ruff==0.12.0
black==25.1.0 

# --- Traitement d’images (Pixabay / DALL·E API) ---
pillow==11.2.1

datasets