# --- NLP & génération ---
transformers==4.52.4
torch==2.7.1
spacy==3.8.7


# --- Web app Django ---
django==5.2.3


# --- Appels HTTP pour communication entre app/API ---
python-dotenv==1.1.0
requests==2.32.4

# --- FastAPI pour API du modèle ---
fastapi==0.115.13
uvicorn==0.34.3

# --- API ElevenLabs (TTS) ---
elevenlabs==2.3.0


# --- Outils Dev ---
pytest==8.4.1
ruff==0.12.0
black==25.1.0 

# --- Traitement d’images (Pixabay / DALL·E API) ---
pillow==11.2.1