{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}RAWINA{% endblock %}</title>
        <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    </head>
    <body class="bg-white text-gray-900">

<!-- Navigation -->
<nav class="bg-sand-beige text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo & Brand -->
        <a href="{% url 'user:home' %}" class="flex items-center space-x-2 text-sage-green">
                <img src="{% static 'images/rawi.png' %}" alt="RAWINA logo" class="w-8 h-8">
            <span class="text-2xl font-bold tracking-wide">RAWINA</span>
        </a>
    </div>
</nav>

        <!-- Main Content -->
        <main class="container mx-auto p-6">
            {% block content %}{% endblock %}
        </main>
        <!-- Footer -->
    <footer class="bg-sand-beige text-gray-700 py-10 mt-12 border-t border-glow">
        <div class="container mx-auto px-4 text-center text-sm">
            <p>© 2025 RAWINA — Crafted with imagination.</p>
            <p>All rights reserved.</p>
        </div>
    </footer>

    </body>
</html>
